// breakpoints
$xtra_small: "max-width: 639px";
$small: "min-width: 640px";
$medium: "min-width: 768px";
$large: "min-width: 1024px";
$xtra_large: "min-width: 1280px";
$gigantic: "min-width: 1536px";

@mixin xtra_small {
  @media only screen and ($xtra_small) {
    @content;
  }  
}
@mixin small {
  @media only screen and ($small) {
    @content;
  }
}
@mixin medium {
  @media only screen and ($medium) {
    @content;
  }
}
@mixin large {
  @media only screen and ($large) {
    @content;
  }
}
@mixin xl {
  @media only screen and ($xtra_large) {
    @content;
  }
}
@mixin huge {
  @media only screen and ($gigantic) {
    @content;
  }
}
